a {
    color:RGB(34, 139, 34);
    text-decoration: unset;
  }
  .login-root {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("img/pexels-thijs-van-der-weide-1094770.jpg"); /* Chemin relatif à l'emplacement du fichier CSS */
    background-size: cover; 
    background-position: center; 
 }
  
 .loginbackground {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
 
}
 .flex-flex {
      display: flex;
  }
  .align-center {
    align-items: center; 
  }
  .center-center {
    align-items: center;
    justify-content: center;
  }
  .box-root {
      box-sizing: border-box;
  }
  .flex-direction--column {
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .box-divider--light-all-2 {
      box-shadow: inset 0 0 0 2px #e3e8ee;
  }
  .box-background--blue {
      background-color: #5469d4;
  }
  .box-background--white {
    background-color: #ffffff; 
  }
  .box-background--blue800 {
      background-color: #212d63;
  }

  .padding-top--24 {
    padding-top: 40px;
  }
  .padding-bottom--24 {
    padding-bottom: 15px;
  }
  .padding-horizontal--48 {
    padding: 40px;
  }
  .padding-bottom--15 {
    padding-bottom: 5px;
  }
  
  
  .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .formbg {
      margin: 0px auto;
      width: 70%;
      max-width: 400px;
      background:#708090;
      border-radius: 10px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  span {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #1a1f36;
  }
  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }
  .grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }
  
  .field input {
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  input[type="submit"] {
    background-color: #8B4513; /* Couleur brun boisé */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 10px 20px; /* Ajouter un espace de remplissage */
    border-radius: 5px; /* Ajouter des coins arrondis */
    cursor: pointer; /* Curseur de souris */
  }
  .field-checkbox input {
      width: 20px;
      height: 15px;
      margin-right: 5px; 
      box-shadow: unset;
      min-height: unset;
  }
  .field-checkbox label {
      display: flex;
      align-items: center;
      margin: 0;
  }
  a.ssolink {
      display: block;
      text-align: center;
      font-weight: 600;
  }
  .root{
    background: #35424a;
    color: #ffffff;
    padding-top: 15px;
    min-height: 50px;
    border-top: #d49941 3px solid;
  }
  .footer-link span {
      font-size: 14px;
      text-align: center;
  }

  .root a {
      color: #c2c9d4;
      font-weight: 600;
      margin: 0 10px;
  }
  
.root ul {
  list-style-type: none; /* Supprime les puces de la liste */
  display: flex;
  justify-content: center; /* Alignement horizontal au centre */
  padding: 0;
}

.root ul li {
  margin-right: 20px; /* Espacement entre les éléments de la liste */
}